%html
  %head
    %title McHacks | Post-Registration Registration
    :javascript
      window.onload = function() {
        el = document.getElementById("logo")
        bg = el.parentNode 
        el.style.marginTop = (bg.offsetHeight - el.offsetHeight) / 2
      }
      canCall = true;
      window.onresize = function() {
        if(!canCall) return;
        calCall = false;
        el = document.getElementById("logo")
        bg = el.parentNode 
        el.style.marginTop = (bg.offsetHeight - el.offsetHeight) / 2
        setTimeout(function() {canCall = true},200);
      }
  %body
    %header
      %a{href:"http://mchacks.io"}
        %img#logo{src:"mchacks_dark_1200.png"}
    %section.registration
      %h1 Upload
      - if form.failed? || !errors.nil?
        %p
          %strong Sorry, we have a few errors for you :(
      - if form.failed_on? :name
        %p Please add your name.
      - if (form.failed_on? :email )|| (form.failed_on?  :school_email)
        %p Please fill out your emails %correctly. 
      - if (form.failed_on? :waiver) 
        %p Please attach the waiver.
      - if (form.failed_on?  :resume)
        %p Please attach your resume.
      -  unless errors.nil?
        - errors.each do |err|
          - err.each do |msg|
            %p= msg
      %p 
        Please fill out this form, all of the fields are required. Download the
        %a{href:"https://docs.google.com/uc?authuser=0&id=0B7FwKuXKbXs8SzJqYTBtemFzaXc&export=download"} liability waiver
        here.
        You also need to have an eventbrite ticket!
        %a{href:"https://www.eventbrite.ca/e/mchacks-2014-tickets-8615133095"} Join the waitlist
        and we'll release a ticket for you as space opens up!
      %p
        %strong Note: Resumes will be given to select sponsors and no one else. 
      %form{:action=>"/form",:method=>"post",:enctype=>"multipart/form-data"}
        %label{for: "name"} Name: 
        %input{type: "text",name: "name"}
        %label{for: "email"} Email for EventBrite:
        %input{type: "text",name: "email"}  
        %label{for: "school_email"} School Email: 
        %input{type: "text",name: "school_email"}
        %label{for: "resume"} Resume: 
        %input{:type=>"file",:name=>"resume"}
        %label{for: "release"} Liability waiver: 
        %input{type: "file",name: "release"}
        %input{:type=>"submit",:value=>"Upload"}
    %footer
      %div.grid-container
        %div.grid-100
          %h3 
            McHacks is organized by
            %a{href:"http://hackmcgill.com"}HackMcGill
            and
            %a{href:"http://csus.cs.mcgill.cs"} CSUS
            Design by
            %a{href:"http://markprokoudine.com"} Mark
            and
            %a{href:"http://xav.io"} Xavier
            For sponsorship inquiries,contact 
            %a{href:"mailto:sponsorship@mchacks.io"}sponsorship@mchacks.io
/ %link{rel:"stylesheet",href:"site.css"}
/ %link{:rel => "stylesheet", :href => "unsemantic-grid-responsive.css"}
= css :app
