%html
  %head
    %link{:rel => "stylesheet", :href => "unsemantic-grid-responsive.css"}/ 
    %title McHacks | Post-Registration Registration
    :javascript
      window.onload = function() {
        el = document.getElementById("logo")
        bg = el.parentNode 
        el.style.marginTop = (bg.offsetHeight - el.offsetHeight) / 2
      }
      canCall = true;
      window.onresize = function() {
        if(!canCall) return;
        calCall = false;
        el = document.getElementById("logo")
        bg = el.parentNode 
        el.style.marginTop = (bg.offsetHeight - el.offsetHeight) / 2
        setTimeout(function() {canCall = true},200);
      }
  %body
    %header
      %img#logo{src:"mchacks_dark_1200.png"}
    %section.box
      %h1 Thanks for registering see you soon!
      %p 
        Make sure you follow us on twitter:
        %a{href:"http://twitter.com/mcgillhacks"} @mcgillhacks
        and like us on
        %a{href:"http://facebook.com"} facebook.
    %footer
      %div.grid-container
        %div.grid-100
          %h3 
            McHacks is organized by
            %a{href:"http://hackmcgill.com"}hack_mcgill
            and
            %a{href:"http://csus.cs.mcgill.cs"} CSUS
            Design by
            %a{href:"http://markprokoudine.com"} Mark
            and
            %a{href:"http://xav.io"} Xavier
            For sponsorship inquiries,contact 
            %a{href:"mailto:sponsorship@mchacks.io"}sponsorship@mchacks.io
  = css :app
