@import url("reset.css");
@import url("fonts.css");
@import url("http://mchacks.io/assets/fonts/centrale_medium/stylesheet.css");
@import url("http://mchacks.io/assets/fonts/centrale_bold/stylesheet.css");
body
{
	font-family: "centrale_sansmedium", 'Helvetica Neue',Arial;
	text-align:left;
	background: #fff;
	font-size: 16px;
}

@media (max-width: 750px)
{
	header
	{
		background: url("background_mobile.jpg") center center no-repeat;
	}
}

@media (min-width: 750px)
{
	header
	{
		background: url("background.jpg") center 70% no-repeat;
	}
}

#content
{
	position: relative;
	z-index: 25;
}

header
{
	width: 100%;
	height: 45%;
	color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	background-size: cover;
	position: relative;
	overflow: auto;
}


#logo
{
	margin: auto;
	max-width: 80%;
	display:block;
}

#logo-wrapper
{
	width: 100%;
	position: relative;
}

h1,h2,h3
{
	font-family: "centrale_sansbold",'Helvetica Neue';
	font-weight: 900;
}

h1
{
	font-size: 3.5em;
	opacity: 0.8;
}

header h1
{
	text-align: center;
	opacity: 0.8;
}

h2
{
	font-size: 2em;
	background: #000;
}

h3
{
	font-size: 1.5em;
}
.registration {
	min-height: 30%;
	width: 60%;
	margin: auto;
}
.box {
	min-height: 30%;
	width: 60%;
	margin: auto;
}
.registration > p {
	width: 65%;
	margin: 10px auto	
}
.registration > h1 {
	width: 65%;
	margin: auto;
}
form {
	width:100%;
}
input[type=text] {
	width: 80%;
	height: 2.5rem;
	margin: 0.5rem;
	display:inline-block;
	font-size: 2rem;
	float:left;
	clear:right;
}
label {
	float:left;
	height: 2.5rem;
	margin: 0.5rem;
	vertical-align: middle;
	line-height: 1.5;
	width: 15%;
	font-weight: 800;
	text-align: right;
	clear:left;
}
input[type="file"] {
	display:inline-block;
	width: 80%;
	height: 2.5rem;
	vertical-align: middle;
	font-size: 1rem;
	padding: 0.75rem;
	margin:0.5rem;
}
input[type="file"]:focus {
	outline:none;
}
input[type=submit]
{
	display: block;
	margin: auto;
	background: #2ECC71;
	text-decoration: none;
	font-size: 2rem;
	text-transform: uppercase;
	padding: 10px 10px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 15px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	transition: 100ms ease-in;
	border: 1px solid #27AE60;

 }
input[type=submit]:hover {
	/*border-radius: 30px 0 0 30px;*/
	background: #27AE60;
	border: 1px solid #20A759;
}
input[type=submit]:focus {
	outline: none;
}
.highlight
{
	border-bottom: 5px solid #2ECC71;
	color: #2ECC71;
}

.highlight-faint
{
	border-bottom: 5px solid #dbe7e0;
	color: #222;
}

.button-wrapper
{
	position: relative;
	top: -16px;
	text-align: center;
}

.result-well
{
	display: block;
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-bottom: 20px;
}
.result-well-success
{
	background: #4ba157;
	color: #fff;
}
.result-well-success a
{
	color: #26602e;
	font-weight: 600;
	background: #fff;
	padding: 0px 4px 3px 4px;
	margin: 0 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.result-well-success a:hover
{
	background: #26602e;
	color: #fff;
	text-decoration: none;
}
.result-well-error
{
	background: #e95950;
	color: #fff;
}


footer
{
	background: #111;
	padding: 5% 12.5%;
	margin-top: 5%;
}

footer h3
{
	font-family: "centrale_sansmedium";
	color: #555;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

a
{
	color: #2ECC71;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}


footer a
{
	border-bottom: 2px solid #2ECC71;
	color: #eee;
	text-decoration: none;
	opacity: 0.3;
	transition: 100ms ease-in;
}

footer a:hover
{
	opacity: 1.0;
	text-decoration: none;
}
